* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 420px) {
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(241, 242, 209);
    margin-top: 0;
    width: auto;
  }

  #steps.container.grey .row {
    background-color: white;
  }

  #steps .row > .left,
  #steps .row > .central,
  #steps .row > .right {
    width: 100%;
  }

  #why .row > .first,
  #why .row > .second,
  #why .row > .third {
    width: 100%;
  }

  #lezioni .row > .left,
  #lezioni .row > .right {
    width: 100%;
  }
}

/************ BONUS  ************/

@media screen and (min-width: 421px) {
  #why .row > .first,
  #why .row > .second,
  #why .row > .third {
    width: 33.3%;
    float: left;
  }
  #why,
  #steps.container.grey {
    background-color: white;
  }
}
