@media screen and (max-width: 420px) {
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(241,242,209);
    margin-top: 0;
  }

  #steps.container.grey .row {
     background-color: white;
  }


}
